/*--------------------------------------
    1. Variables, mixins, placeholders
    2. Global
    3. Typography
    4. Structure Style
    5. Components Style
    6. Media Queries
---------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Helvetica', Arial, sans-serif;
  background-color: #252524;
  color: white;
}

nav {
  background: #1c1c1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu ul {
  color: white;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

nav .logo img {
  height: 50px;
}

.hero {
  position: relative;
}

.hero-text-grid {
  border: 12px solid #ce2030;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-text-grid h1 {
  color: #ce2030;
  text-align: center;
}

.icon-wrapper {
  width: 25%;
  height: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-wrapper .icon {
  padding: 1em;
}

.feature-desc {
  width: 75%;
}

.features-wrapper {
  background-color: #ce2030;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-wrapper {
  background-color: #151515;
}

.card {
  background-color: #c6c6be;
  margin: 1em 0;
  text-align: center;
}

.card .card-title {
  padding: 1em;
  background-color: #706d6e;
}

.card ul {
  list-style-type: none;
  color: black;
  padding: 0;
}

.card ul li {
  margin: 10px 0;
}

.card h2 {
  font-size: 48px;
  margin: 20px;
}

.card button {
  border: none;
  background-color: #ce2030;
  color: white;
  margin: 0 0 20px 0;
  padding: 10px 25px 10px 25px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .08em;
}

.subscribe {
  background-color: #706d6e;
  padding: 20px;
  text-align: center;
}

.subscribe p {
  line-height: 1.4;
}

.subscribe input[type=email] {
  padding: 10px;
  border: none;
}

.subscribe input[type=submit] {
  border: none;
  padding: 10px 25px 10px 25px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .08em;
  background-color: #1c1c1b;
  color: white;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  clear: both;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*
.glow {
    text-shadow: 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
}*/
@media screen and (min-width: 720px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */